@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
body{
  color: #4B2A0B;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #F2DBC4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  width: 90%;
}

.structure{
  width: 100%;
  background-color: #4B2A0B;
  color: #F2DBC4;
  padding: 3% 6% 3% 6%;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  place-items: center;
}

.main{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 2%;
  padding: 5%;
}

.card {
  background-color: white;
  border-radius: 10px;
  border: 2px dotted #4B2A0B; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  gap: 10px; 
  color: #4B2A0B;
}

.card > img {
  width: 60%;  
  margin: 10px;
  height: 200px;
  object-fit: cover; 
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px;
}

.card > span {
  width: 100%;
  text-align: center;
}

.pricetag {
  text-align: center;
  width: 70%;
  border-radius: 20px;
  background-color: black;
  color: #F2DBC4;
  padding: 10px 0;
}
.floating{
  z-index: 999;
  position: sticky;
  top: 20px;
  margin: 2% 5% 0% 5%;
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4B2A0B;
  color: #F2DBC4;
  border-radius: 20px;
  padding: 0px 40px 0px 40px;
}

.navpoint{
  display: flex;
  width: 130px;
  flex-direction: column;
  align-items: center;
  border-style: dotted;
  border-color: #F2DBC4 1px;
  border-radius: 20px;
  padding: 15px;
}

.heading{
  display: flex;
  background-color: white;
  flex-direction: row;
  border-radius: 50px;
}

.heading > span{
  font-size: 40px;
  
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%; 
}
